#calendar-container{
	width: 220px;
	height: 220px;
	padding: 10px;
	text-align: center;
	border: 1px solid;
	border-radius: 10px;
	background-color:lavender;
}

#calendar-container>div{
			padding: 0px;
			margin-bottom: 10px;
}
#cal-mon-year{
	margin:5px;
}
#cal_date>table>tr>td{
	padding: 5px;
}
